#container{
    display: flex;
    flex-wrap: wrap;
}

#container > div{
    width: 20rem;
    border: solid rebeccapurple 1px;
    border-radius: 5px;
    margin: .5rem;
    padding: .3rem;
}

#container img{
    width: 100%;
}
