#container{
    display: grid;
    gap: 5px;
    height: 35rem;
    grid-template-areas: 
    "a a"
    "b c"
    "d e"
    "f f"
    ;
}

#um{
    grid-area: a;
}
#dois{
    grid-area: b;
}
#tres{
    grid-area: c;
}
#quatro{
    grid-area: d;
}
#cinco{
    grid-area: e;
}
#seis{
    grid-area: f;
}

#container > div{
    background-color: aqua;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 600;
}

@media screen  and (min-width: 760px) {
    #container{
        display: grid;
        gap: 5px;
        grid-template-areas: 
        "a a b"
        "c d b"
        "e f f"
        ;
    }
}

